In [1252]:
import pandas as pd
import numpy as np
from math import ceil

In [1253]:
pd.set_option('display.max_columns', None)

In [1254]:
df = pd.read_csv('../data/d01_raw/train.csv')

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\2275389496.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/d01_raw/train.csv')

In [1255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [1256]:
df.loc[df.Age.isna()]

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

In [1257]:
# df.Age.astype(int)

In [1258]:
non_numeric_mask = ~df.Age.str.isdigit()

In [1259]:
non_numeric_values = df.loc[non_numeric_mask]
non_numeric_values

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,4,5.42,2.0,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
54,0x1650,CUS_0x284a,July,Nadiaq,34_,#F%$D@*&8,Lawyer,10909427.0,NaN,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",0,2_,9.34,4.0,Good,352.16,26.947565,31 Years and 1 Months,No,911.220179,930.3918977796665,!@9#%8,326.24183015224526,Good
58,0x1658,CUS_0x5407,March,Annk,30_,500-92-6408,Media_Manager,34081.38,NaN,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",31,14,17.13,5.0,Standard,1704.18,35.111552,14 Years and 9 Months,Yes,70.478333,199.7207654954979,Low_spent_Large_value_payments,260.9124018324295,Poor
71,0x1669,CUS_0x4157,August,Charlie Zhur,24_,070-19-1622,Doctor,114838.41,9843.867500,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",11,11,8.24,8.0,Good,1377.74,27.813354,21 Years and 11 Months,No,226.892792,254.57176724837916,High_spent_Large_value_payments,742.9221908300779,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99933,0x25f8b,CUS_0xb11c,June,Yinka Adegokej,38_,546-94-4789,Manager,15319.65,1460.637500,6,7,15,4,"Home Equity Loan, Auto Loan, Auto Loan, and Au...",54,16,17.13,6.0,Bad,1453.61,24.846424,11 Years and 2 Months,Yes,28.182033,45.61171819143637,High_spent_Small_value_payments,332.269998,Standard
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,-500,226-45-0652,_______,22620.79,1722.065833,7,3,9,0_,NaN,25,NaN,5.31,2.0,Standard,642.46,31.841872,NaN,No,0.000000,105.07629339039072,Low_spent_Large_value_payments,337.13029,Standard
99942,0x25f98,CUS_0xad4f,July,Sabina Zawadzkig,48_,#F%$D@*&8,Developer,22620.79,1722.065833,6,2,9,0,NaN,27,17,1.3099999999999996,2.0,Standard,642.46,24.714779,29 Years and 9 Months,No,0.000000,16.53218878920387,High_spent_Large_value_payments,395.674395,Poor
99963,0x25fb9,CUS_0x372c,April,Lucia Mutikanik,-500,340-85-7301,Lawyer,42903.79,NaN,0,4,6,1,Not Specified,14,0,5.1,1.0,Good,1079.48,30.625298,NaN,No,34.975457,31.19391926667726,High_spent_Large_value_payments,520.662207,Standard
99987,0x25fdd,CUS_0x8600,April,Sarah McBridec,28_,031-35-0942,Architect,20002.88,1929.906667,10,8,29,-100,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,25,18.31,9.0,_,3571.7,30.614953,5 Years and 11 Months,Yes,60.964772,43.72461709437765,High_spent_Large_value_payments,328.301277,Standard

In [1260]:
df['Age'] = df['Age'].str.replace(r'[^0-9]', '', regex=True) #tirar valores da idade com __

In [1261]:
non_numeric_values = df.loc[non_numeric_mask]
non_numeric_values

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
2,0x1604,CUS_0xd40,March,Aaron Maashoh,500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,4,5.42,2.0,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
54,0x1650,CUS_0x284a,July,Nadiaq,34,#F%$D@*&8,Lawyer,10909427.0,NaN,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",0,2_,9.34,4.0,Good,352.16,26.947565,31 Years and 1 Months,No,911.220179,930.3918977796665,!@9#%8,326.24183015224526,Good
58,0x1658,CUS_0x5407,March,Annk,30,500-92-6408,Media_Manager,34081.38,NaN,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",31,14,17.13,5.0,Standard,1704.18,35.111552,14 Years and 9 Months,Yes,70.478333,199.7207654954979,Low_spent_Large_value_payments,260.9124018324295,Poor
71,0x1669,CUS_0x4157,August,Charlie Zhur,24,070-19-1622,Doctor,114838.41,9843.867500,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",11,11,8.24,8.0,Good,1377.74,27.813354,21 Years and 11 Months,No,226.892792,254.57176724837916,High_spent_Large_value_payments,742.9221908300779,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99933,0x25f8b,CUS_0xb11c,June,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.637500,6,7,15,4,"Home Equity Loan, Auto Loan, Auto Loan, and Au...",54,16,17.13,6.0,Bad,1453.61,24.846424,11 Years and 2 Months,Yes,28.182033,45.61171819143637,High_spent_Small_value_payments,332.269998,Standard
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,500,226-45-0652,_______,22620.79,1722.065833,7,3,9,0_,NaN,25,NaN,5.31,2.0,Standard,642.46,31.841872,NaN,No,0.000000,105.07629339039072,Low_spent_Large_value_payments,337.13029,Standard
99942,0x25f98,CUS_0xad4f,July,Sabina Zawadzkig,48,#F%$D@*&8,Developer,22620.79,1722.065833,6,2,9,0,NaN,27,17,1.3099999999999996,2.0,Standard,642.46,24.714779,29 Years and 9 Months,No,0.000000,16.53218878920387,High_spent_Large_value_payments,395.674395,Poor
99963,0x25fb9,CUS_0x372c,April,Lucia Mutikanik,500,340-85-7301,Lawyer,42903.79,NaN,0,4,6,1,Not Specified,14,0,5.1,1.0,Good,1079.48,30.625298,NaN,No,34.975457,31.19391926667726,High_spent_Large_value_payments,520.662207,Standard
99987,0x25fdd,CUS_0x8600,April,Sarah McBridec,28,031-35-0942,Architect,20002.88,1929.906667,10,8,29,-100,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,25,18.31,9.0,_,3571.7,30.614953,5 Years and 11 Months,Yes,60.964772,43.72461709437765,High_spent_Large_value_payments,328.301277,Standard

In [1262]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [1263]:
df.Age = df.Age.astype(int)

In [1264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  int32
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int32(1), int64(4), object(19)
memory usage: 21.0+ MB

In [1265]:
df["Age"].loc[df["Age"] > 100].value_counts()

Age
500     886
6799      4
4307      3
1692      3
2980      3
       ...
7178      1
5621      1
1908      1
4583      1
1342      1
Name: count, Length: 1682, dtype: int64

In [1266]:
Q1 = df['Age'].quantile(0.25) # primeiro quartil (pega os valores de 25% para baixo)
Q3 = df['Age'].quantile(0.95) # terceiro quartil (pega os valores de 95% para baixo)
IQR = Q3 - Q1 # calcula a diferença entre o primeiro e o terceiro quartil

In [1267]:
Q1

25.0

In [1268]:
Q3

54.0

In [1269]:
IQR

29.0

In [1270]:
upper_bound = Q3 + 1.5 * IQR

In [1271]:
upper_bound

97.5

In [1272]:
df.loc[df['Age'] > upper_bound]["Age"].value_counts()

Age
500     886
6799      4
4307      3
1692      3
2980      3
       ...
5621      1
1908      1
4583      1
7549      1
1342      1
Name: count, Length: 1684, dtype: int64

In [1273]:
df['Age'] = df['Age'].apply(lambda x:  ceil(upper_bound) if x > upper_bound else x) # Alteração de outliers

In [1274]:
df.loc[df["Age"] == ceil(upper_bound)]['Age'].value_counts()

Age
98    2778
Name: count, dtype: int64

In [1275]:
df.loc[df["Age"] == ceil(upper_bound)]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
2,0x1604,CUS_0xd40,March,Aaron Maashoh,98,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
56,0x1656,CUS_0x5407,January,Annk,98,500-92-6408,Media_Manager,34081.38_,NaN,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",30,11,17.13,5.0,Standard,1704.18,24.448063,NaN,NM,70.478333,162.4410091967751,Low_spent_Large_value_payments,298.19215813115227,Poor
113,0x16ab,CUS_0xff4,February,NaN,98,655-05-7666,Entrepreneur,25546.26,NaN,8,7,14,5,"Not Specified, Student Loan, Student Loan, Cre...",16,13,7.83,NaN,Standard,758.44,29.711376,18 Years and 3 Months,Yes,101.328637,300.32323168069064,Low_spent_Small_value_payments,129.9336309554582,Standard
122,0x16b8,CUS_0x33d2,March,Chalmersa,98,965-46-2491,Scientist,31993.78,2942.148333,6,6,7,2,"Payday Loan, and Home Equity Loan",8,14,10.28,1.0,Standard,818.22,27.380109,17 Years and 0 Months,Yes,45.141298,264.25708850339777,Low_spent_Small_value_payments,274.8164466052998,Standard
219,0x1749,CUS_0x3edc,April,Williamso,98,663-16-3845,Accountant,43070.24,3622.186667,3,3,18,1,Debt Consolidation Loan,11,8,8.97,4.0,Standard,1233.1,24.331772,19 Years and 5 Months,Yes,30.576085,74.92037487328841,High_spent_Medium_value_payments,506.7222069702167,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99913,0x25f6f,CUS_0x1619,February,Phil Wahbao,98,683-59-7399,Media_Manager,20059.98,1523.665000,8,5,12,4,"Home Equity Loan, Payday Loan, Not Specified, ...",25,11,2.97,3.0,Good,909.01,25.982154,16 Years and 4 Months,No,45.076827,74.71358019803843,High_spent_Small_value_payments,292.576093,Poor
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,98,226-45-0652,_______,22620.79,1722.065833,7,3,9,0_,NaN,25,NaN,5.31,2.0,Standard,642.46,31.841872,NaN,No,0.000000,105.07629339039072,Low_spent_Large_value_payments,337.13029,Standard
99950,0x25fa4,CUS_0x51b3,July,Ryana,98,837-85-9800,Media_Manager,59146.36,4908.863333,3,6,6,1,Personal Loan,8,6,6.68,5.0,_,418.03,38.199635,20 Years and 7 Months,No,26.778419,502.3763201756033,Low_spent_Small_value_payments,251.731594,Standard
99963,0x25fb9,CUS_0x372c,April,Lucia Mutikanik,98,340-85-7301,Lawyer,42903.79,NaN,0,4,6,1,Not Specified,14,0,5.1,1.0,Good,1079.48,30.625298,NaN,No,34.975457,31.19391926667726,High_spent_Large_value_payments,520.662207,Standard
99972,0x25fc6,CUS_0xf16,May,Maria Sheahanb,98,868-70-2218,Media_Manager,16680.35,1528.029167,1,1,5,4,"Payday Loan, Student Loan, Mortgage Loan, and ...",1,0,5.69,8.0,Good,897.16,37.788217,21 Years and 5 Months,No,41.113561,64.54974829039807,Low_spent_Large_value_payments,317.139608,Standard

In [1276]:
month_dic = {
    'january': 1, 'february': 2, 'march': 3, 'april': 4, 'may': 5, 'june': 6,
    'july': 7, 'august': 8, 'september': 9, 'october': 10, 'november': 11, 'december': 12
}

In [1277]:
df["Number_Month"] = df["Month"].str.lower().map(month_dic) # Criação da coluna para indentificar os meses em números

In [1278]:
df["Number_Month"].value_counts()

Number_Month
1    12500
2    12500
3    12500
4    12500
5    12500
6    12500
7    12500
8    12500
Name: count, dtype: int64

In [1279]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Number_Month
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good,1
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good,2
2,0x1604,CUS_0xd40,March,Aaron Maashoh,98,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good,3
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good,4
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good,5

In [1280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  int64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
 28  Number_Month              100000 non-null  int64
dtypes: float64(4), int64(6), object(19)
memory usage: 22.1+ MB

In [1281]:
df.loc[df["Name"].isna()]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Number_Month
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,6,11.27,4.0,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard,8
17,0x161b,CUS_0x2dbc,February,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",13,6,7.1,3.0,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.86038375993544,High_spent_Small_value_payments,998.8692967863226,Good,2
22,0x1620,CUS_0x2dbc,July,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",8,6,7.1,3.0,Good,1303.01,38.068624,18 Years and 3 Months,No,246.992319,263.17416316163934,High_spent_Small_value_payments,968.5555173846187,Standard,7
64,0x1662,CUS_0x4157,January,NaN,23,070-19-1622,Doctor,114838.41,9843.867500,2,5,7,-100,"Personal Loan, Debt Consolidation Loan, and Au...",13,11,8.24,3.0,Good,1377.74,33.664554,21 Years and 4 Months,No,226.892792,215.19351594560425,High_spent_Small_value_payments,802.3004421328528,Good,1
80,0x167a,CUS_0xa66b,January,NaN,40,221-30-8554,Teacher,33751.27,2948.605833,5,5,20,3_,"Credit-Builder Loan, Personal Loan, and Auto Loan",16,20,11.0,4.0,Standard,1328.93,37.089076,19 Years and 2 Months,NM,65.008174,117.30669710658556,High_spent_Medium_value_payments,362.54571194023237,Standard,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99964,0x25fba,CUS_0x372c,May,NaN,18,340-85-7301,Lawyer,42903.79,3468.315833,0,4,6,1,Not Specified,14,0,5.1,1.0,Good,1079.48,23.140640,28 Years and 5 Months,No,34.975457,450.6460933992599,Low_spent_Small_value_payments,151.210033,Good,5
99965,0x25fbb,CUS_0x372c,June,NaN,19,340-85-7301,Lawyer,42903.79,3468.315833,0,4,6,1,Not Specified,14,-1,5.1,1.0,Good,1079.48,35.549456,28 Years and 6 Months,No,34.975457,187.3559686116327,Low_spent_Large_value_payments,394.500158,Good,6
99969,0x25fc3,CUS_0xf16,February,NaN,45,868-70-2218,Media_Manager,16680.35,1528.029167,1,1,5,-100,"Payday Loan, Student Loan, Mortgage Loan, and ...",3,0,5.69,4.0,Good,897.16,34.085971,21 Years and 2 Months,No,41.113561,104.64623687765652,High_spent_Small_value_payments,267.043119,Good,2
99973,0x25fc7,CUS_0xf16,June,NaN,45,868-70-2218,Media_Manager,16680.35,1528.029167,1,1,5,4,"Payday Loan, Student Loan, Mortgage Loan, and ...",1,NaN,0.6900000000000004,8.0,Good,897.16,24.972853,21 Years and 6 Months,No,41.113561,__10000__,Low_spent_Small_value_payments,233.301539,Good,6
99986,0x25fdc,CUS_0x8600,March,NaN,28,031-35-0942,Architect,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,25,18.31,9.0,Bad,3571.7,24.713861,5 Years and 10 Months,Yes,60.964772,76.28279349064607,Low_spent_Small_value_payments,345.743101,Poor,3

In [1282]:
name_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Name'].isna()) | ~(x['Name'].isna())])
#Agrupar o dado pelo customer_id para verificar caso exista algum dado com nome nulo e outro dado com um nome cadastrado
name_null

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\3819400334.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  name_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Name'].isna()) | ~(x['Name'].isna())])

                        ID Customer_ID     Month            Name  Age  \
Customer_ID
CUS_0x1000  56752  0x1628a  CUS_0x1000   January  Alistair Barrf   17
            56753  0x1628b  CUS_0x1000  February             NaN   17
            56754  0x1628c  CUS_0x1000     March  Alistair Barrf   17
            56755  0x1628d  CUS_0x1000     April  Alistair Barrf   17
            56756  0x1628e  CUS_0x1000       May  Alistair Barrf   17
...                    ...         ...       ...             ...  ...
CUS_0xffd   99155  0x25afd   CUS_0xffd     April        Damouniq   29
            99156  0x25afe   CUS_0xffd       May        Damouniq   29
            99157  0x25aff   CUS_0xffd      June             NaN   29
            99158  0x25b00   CUS_0xffd      July        Damouniq   30
            99159  0x25b01   CUS_0xffd    August        Damouniq   30

                           SSN Occupation Annual_Income  \
Customer_ID
CUS_0x1000  56752  913-74-1218     Lawyer      30625.94
            56753  913-74-1218     Lawyer      30625.94
            56754  913-74-1218     Lawyer     30625.94_
            56755  913-74-1218     Lawyer      30625.94
            56756  913-74-1218     Lawyer      30625.94
...                        ...        ...           ...
CUS_0xffd   99155  832-88-8320  Scientist      41398.44
            99156  832-88-8320    _______      41398.44
            99157  832-88-8320  Scientist      41398.44
            99158  832-88-8320  Scientist     41398.44_
            99159  832-88-8320  Scientist      41398.44

                   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
Customer_ID
CUS_0x1000  56752            2706.161667                  6                5
            56753                    NaN                  6                5
            56754            2706.161667                  6                5
            56755            2706.161667                  6                5
            56756            2706.161667                  6                5
...                                  ...                ...              ...
CUS_0xffd   99155            3749.870000                  8                7
            99156            3749.870000                  8                7
            99157                    NaN                  8                7
            99158            3749.870000                  8                7
            99159            3749.870000                  8                7

                   Interest_Rate Num_of_Loan  \
Customer_ID
CUS_0x1000  56752             27           2
            56753             27           2
            56754             27           2
            56755             27           2
            56756             27           2
...                          ...         ...
CUS_0xffd   99155             13        -100
            99156             13          6_
            99157             13           6
            99158             13           6
            99159             13           6

                                                        Type_of_Loan  \
Customer_ID
CUS_0x1000  56752          Credit-Builder Loan, and Home Equity Loan
            56753          Credit-Builder Loan, and Home Equity Loan
            56754          Credit-Builder Loan, and Home Equity Loan
            56755          Credit-Builder Loan, and Home Equity Loan
            56756          Credit-Builder Loan, and Home Equity Loan
...                                                              ...
CUS_0xffd   99155  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99156  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99157  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99158  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99159  Auto Loan, Payday Loan, Payday Loan, Mortgage ...

                   Delay_from_due_date Num_of_Delayed_Payment  \
Customer_ID
CUS_0x1000  56752                   62                     25
            56753                   62                     23
            56754                   62                     28
            56755                   64                     25
            56756                   67                     25
...                                ...                    ...
CUS_0xffd   99155                   19                     12
            99156                   23                    NaN
            99157                   23                     12
            99158                   23                     12
            99159                   23                     11

                  Changed_Credit_Limit  Num_Credit_Inquiries Credit_Mix  \
Customer_ID
CUS_0x1000  56752                 1.63                  10.0        Bad
            56753                 1.63                  11.0        Bad
            56754                 1.63                  11.0        Bad
            56755                 1.63                  11.0        Bad
            56756                 2.63                  11.0        Bad
...                                ...                   ...        ...
CUS_0xffd   99155                10.07                   7.0          _
            99156                10.07                   7.0   Standard
            99157                10.07                   7.0   Standard
            99158                10.07                   7.0   Standard
            99159                12.07                   7.0   Standard

                  Outstanding_Debt  Credit_Utilization_Ratio  \
Customer_ID
CUS_0x1000  56752          1562.91                 26.612093
            56753          1562.91                 29.439759
            56754          1562.91                 38.285928
            56755          1562.91                 32.843081
            56756          1562.91                 32.330508
...                            ...                       ...
CUS_0xffd   99155          1701.88                 36.384516
            99156          1701.88                 26.166508
            99157          1701.88                 36.970072
            99158          1701.88                 33.916363
            99159          1701.88                 39.916655

                      Credit_History_Age Payment_of_Min_Amount  \
Customer_ID
CUS_0x1000  56752  10 Years and 2 Months                   Yes
            56753  10 Years and 3 Months                   Yes
            56754  10 Years and 4 Months                   Yes
            56755  10 Years and 5 Months                   Yes
            56756  10 Years and 6 Months                   Yes
...                                  ...                   ...
CUS_0xffd   99155  18 Years and 5 Months                   Yes
            99156  18 Years and 6 Months                   Yes
            99157  18 Years and 7 Months                   Yes
            99158  18 Years and 8 Months                   Yes
            99159  18 Years and 9 Months                   Yes

                   Total_EMI_per_month Amount_invested_monthly  \
Customer_ID
CUS_0x1000  56752            42.941090      244.75028300769162
            56753            42.941090      176.13256665597928
            56754            42.941090      109.05651876486915
            56755            42.941090       87.90990881495769
            56756            42.941090       191.8347674990596
...                                ...                     ...
CUS_0xffd   99155           182.976649       234.3549398533252
            99156           182.976649       104.6294735081563
            99157           182.976649      47.007378731604064
            99158           182.976649      257.98969352901736
            99159           182.976649       42.57571978536272

                                  Payment_Behaviour     Monthly_Balance  \
Customer_ID
CUS_0x1000  56752    Low_spent_Large_value_payments   252.9247932365056
            56753   High_spent_Small_value_payments    311.542509588218
            56754  High_spent_Medium_value_payments  368.61855747932816
            56755                            !@9#%8   419.7651674292397
            56756    Low_spent_Large_value_payments   305.8403087451377
...                                             ...                 ...
CUS_0xffd   99155                            !@9#%8          247.655411
            99156  High_spent_Medium_value_payments          337.380877
            99157  High_spent_Medium_value_payments          395.002972
            99158   High_spent_Small_value_payments          194.020657
            99159   High_spent_Large_value_payments          389.434631

                  Credit_Score  Number_Month
Customer_ID
CUS_0x1000  56752     Standard             1
            56753         Poor             2
            56754         Poor             3
            56755         Poor             4
            56756         Poor             5
...                        ...           ...
CUS_0xffd   99155     Standard             4
            99156     Standard             5
            99157     Standard             6
            99158         Good             7
            99159         Good             8

[100000 rows x 29 columns]

In [1283]:
df['Name'] = df.groupby('Customer_ID')['Name'].transform(lambda x: x.fillna(method='bfill').fillna(method='ffill')) # Preencher os nomes nuloes com os valores corretos

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\578717043.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Name'] = df.groupby('Customer_ID')['Name'].transform(lambda x: x.fillna(method='bfill').fillna(method='ffill'))

In [1284]:
name_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Name'].isna()) | ~(x['Name'].isna())])
name_null

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\744891109.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  name_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Name'].isna()) | ~(x['Name'].isna())])

                        ID Customer_ID     Month            Name  Age  \
Customer_ID
CUS_0x1000  56752  0x1628a  CUS_0x1000   January  Alistair Barrf   17
            56753  0x1628b  CUS_0x1000  February  Alistair Barrf   17
            56754  0x1628c  CUS_0x1000     March  Alistair Barrf   17
            56755  0x1628d  CUS_0x1000     April  Alistair Barrf   17
            56756  0x1628e  CUS_0x1000       May  Alistair Barrf   17
...                    ...         ...       ...             ...  ...
CUS_0xffd   99155  0x25afd   CUS_0xffd     April        Damouniq   29
            99156  0x25afe   CUS_0xffd       May        Damouniq   29
            99157  0x25aff   CUS_0xffd      June        Damouniq   29
            99158  0x25b00   CUS_0xffd      July        Damouniq   30
            99159  0x25b01   CUS_0xffd    August        Damouniq   30

                           SSN Occupation Annual_Income  \
Customer_ID
CUS_0x1000  56752  913-74-1218     Lawyer      30625.94
            56753  913-74-1218     Lawyer      30625.94
            56754  913-74-1218     Lawyer     30625.94_
            56755  913-74-1218     Lawyer      30625.94
            56756  913-74-1218     Lawyer      30625.94
...                        ...        ...           ...
CUS_0xffd   99155  832-88-8320  Scientist      41398.44
            99156  832-88-8320    _______      41398.44
            99157  832-88-8320  Scientist      41398.44
            99158  832-88-8320  Scientist     41398.44_
            99159  832-88-8320  Scientist      41398.44

                   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
Customer_ID
CUS_0x1000  56752            2706.161667                  6                5
            56753                    NaN                  6                5
            56754            2706.161667                  6                5
            56755            2706.161667                  6                5
            56756            2706.161667                  6                5
...                                  ...                ...              ...
CUS_0xffd   99155            3749.870000                  8                7
            99156            3749.870000                  8                7
            99157                    NaN                  8                7
            99158            3749.870000                  8                7
            99159            3749.870000                  8                7

                   Interest_Rate Num_of_Loan  \
Customer_ID
CUS_0x1000  56752             27           2
            56753             27           2
            56754             27           2
            56755             27           2
            56756             27           2
...                          ...         ...
CUS_0xffd   99155             13        -100
            99156             13          6_
            99157             13           6
            99158             13           6
            99159             13           6

                                                        Type_of_Loan  \
Customer_ID
CUS_0x1000  56752          Credit-Builder Loan, and Home Equity Loan
            56753          Credit-Builder Loan, and Home Equity Loan
            56754          Credit-Builder Loan, and Home Equity Loan
            56755          Credit-Builder Loan, and Home Equity Loan
            56756          Credit-Builder Loan, and Home Equity Loan
...                                                              ...
CUS_0xffd   99155  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99156  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99157  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99158  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99159  Auto Loan, Payday Loan, Payday Loan, Mortgage ...

                   Delay_from_due_date Num_of_Delayed_Payment  \
Customer_ID
CUS_0x1000  56752                   62                     25
            56753                   62                     23
            56754                   62                     28
            56755                   64                     25
            56756                   67                     25
...                                ...                    ...
CUS_0xffd   99155                   19                     12
            99156                   23                    NaN
            99157                   23                     12
            99158                   23                     12
            99159                   23                     11

                  Changed_Credit_Limit  Num_Credit_Inquiries Credit_Mix  \
Customer_ID
CUS_0x1000  56752                 1.63                  10.0        Bad
            56753                 1.63                  11.0        Bad
            56754                 1.63                  11.0        Bad
            56755                 1.63                  11.0        Bad
            56756                 2.63                  11.0        Bad
...                                ...                   ...        ...
CUS_0xffd   99155                10.07                   7.0          _
            99156                10.07                   7.0   Standard
            99157                10.07                   7.0   Standard
            99158                10.07                   7.0   Standard
            99159                12.07                   7.0   Standard

                  Outstanding_Debt  Credit_Utilization_Ratio  \
Customer_ID
CUS_0x1000  56752          1562.91                 26.612093
            56753          1562.91                 29.439759
            56754          1562.91                 38.285928
            56755          1562.91                 32.843081
            56756          1562.91                 32.330508
...                            ...                       ...
CUS_0xffd   99155          1701.88                 36.384516
            99156          1701.88                 26.166508
            99157          1701.88                 36.970072
            99158          1701.88                 33.916363
            99159          1701.88                 39.916655

                      Credit_History_Age Payment_of_Min_Amount  \
Customer_ID
CUS_0x1000  56752  10 Years and 2 Months                   Yes
            56753  10 Years and 3 Months                   Yes
            56754  10 Years and 4 Months                   Yes
            56755  10 Years and 5 Months                   Yes
            56756  10 Years and 6 Months                   Yes
...                                  ...                   ...
CUS_0xffd   99155  18 Years and 5 Months                   Yes
            99156  18 Years and 6 Months                   Yes
            99157  18 Years and 7 Months                   Yes
            99158  18 Years and 8 Months                   Yes
            99159  18 Years and 9 Months                   Yes

                   Total_EMI_per_month Amount_invested_monthly  \
Customer_ID
CUS_0x1000  56752            42.941090      244.75028300769162
            56753            42.941090      176.13256665597928
            56754            42.941090      109.05651876486915
            56755            42.941090       87.90990881495769
            56756            42.941090       191.8347674990596
...                                ...                     ...
CUS_0xffd   99155           182.976649       234.3549398533252
            99156           182.976649       104.6294735081563
            99157           182.976649      47.007378731604064
            99158           182.976649      257.98969352901736
            99159           182.976649       42.57571978536272

                                  Payment_Behaviour     Monthly_Balance  \
Customer_ID
CUS_0x1000  56752    Low_spent_Large_value_payments   252.9247932365056
            56753   High_spent_Small_value_payments    311.542509588218
            56754  High_spent_Medium_value_payments  368.61855747932816
            56755                            !@9#%8   419.7651674292397
            56756    Low_spent_Large_value_payments   305.8403087451377
...                                             ...                 ...
CUS_0xffd   99155                            !@9#%8          247.655411
            99156  High_spent_Medium_value_payments          337.380877
            99157  High_spent_Medium_value_payments          395.002972
            99158   High_spent_Small_value_payments          194.020657
            99159   High_spent_Large_value_payments          389.434631

                  Credit_Score  Number_Month
Customer_ID
CUS_0x1000  56752     Standard             1
            56753         Poor             2
            56754         Poor             3
            56755         Poor             4
            56756         Poor             5
...                        ...           ...
CUS_0xffd   99155     Standard             4
            99156     Standard             5
            99157     Standard             6
            99158         Good             7
            99159         Good             8

[100000 rows x 29 columns]

In [1285]:
df.iloc[56753]

ID                                                            0x1628b
Customer_ID                                                CUS_0x1000
Month                                                        February
Name                                                   Alistair Barrf
Age                                                                17
SSN                                                       913-74-1218
Occupation                                                     Lawyer
Annual_Income                                                30625.94
Monthly_Inhand_Salary                                             NaN
Num_Bank_Accounts                                                   6
Num_Credit_Card                                                     5
Interest_Rate                                                      27
Num_of_Loan                                                         2
Type_of_Loan                Credit-Builder Loan, and Home Equity Loan
Delay_from_due_date                                                62
Num_of_Delayed_Payment                                             23
Changed_Credit_Limit                                             1.63
Num_Credit_Inquiries                                             11.0
Credit_Mix                                                        Bad
Outstanding_Debt                                              1562.91
Credit_Utilization_Ratio                                    29.439759
Credit_History_Age                              10 Years and 3 Months
Payment_of_Min_Amount                                             Yes
Total_EMI_per_month                                          42.94109
Amount_invested_monthly                            176.13256665597928
Payment_Behaviour                     High_spent_Small_value_payments
Monthly_Balance                                      311.542509588218
Credit_Score                                                     Poor
Number_Month                                                        2
Name: 56753, dtype: object

In [1286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  int64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
 28  Number_Month              100000 non-null  int64
dtypes: float64(4), int64(6), object(19)
memory usage: 22.1+ MB

In [1287]:
len(df.loc[df["Occupation"].str.contains("_")])

13294

In [1288]:
occupation_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Occupation'].str.contains("_")) | ~(x['Occupation'].str.contains("_"))])
occupation_null

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\2889301033.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  occupation_null=  df.groupby('Customer_ID').apply(lambda x: x[(x['Occupation'].str.contains("_")) | ~(x['Occupation'].str.contains("_"))])

                        ID Customer_ID     Month            Name  Age  \
Customer_ID
CUS_0x1000  56752  0x1628a  CUS_0x1000   January  Alistair Barrf   17
            56753  0x1628b  CUS_0x1000  February  Alistair Barrf   17
            56754  0x1628c  CUS_0x1000     March  Alistair Barrf   17
            56755  0x1628d  CUS_0x1000     April  Alistair Barrf   17
            56756  0x1628e  CUS_0x1000       May  Alistair Barrf   17
...                    ...         ...       ...             ...  ...
CUS_0xffd   99155  0x25afd   CUS_0xffd     April        Damouniq   29
            99156  0x25afe   CUS_0xffd       May        Damouniq   29
            99157  0x25aff   CUS_0xffd      June        Damouniq   29
            99158  0x25b00   CUS_0xffd      July        Damouniq   30
            99159  0x25b01   CUS_0xffd    August        Damouniq   30

                           SSN Occupation Annual_Income  \
Customer_ID
CUS_0x1000  56752  913-74-1218     Lawyer      30625.94
            56753  913-74-1218     Lawyer      30625.94
            56754  913-74-1218     Lawyer     30625.94_
            56755  913-74-1218     Lawyer      30625.94
            56756  913-74-1218     Lawyer      30625.94
...                        ...        ...           ...
CUS_0xffd   99155  832-88-8320  Scientist      41398.44
            99156  832-88-8320    _______      41398.44
            99157  832-88-8320  Scientist      41398.44
            99158  832-88-8320  Scientist     41398.44_
            99159  832-88-8320  Scientist      41398.44

                   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
Customer_ID
CUS_0x1000  56752            2706.161667                  6                5
            56753                    NaN                  6                5
            56754            2706.161667                  6                5
            56755            2706.161667                  6                5
            56756            2706.161667                  6                5
...                                  ...                ...              ...
CUS_0xffd   99155            3749.870000                  8                7
            99156            3749.870000                  8                7
            99157                    NaN                  8                7
            99158            3749.870000                  8                7
            99159            3749.870000                  8                7

                   Interest_Rate Num_of_Loan  \
Customer_ID
CUS_0x1000  56752             27           2
            56753             27           2
            56754             27           2
            56755             27           2
            56756             27           2
...                          ...         ...
CUS_0xffd   99155             13        -100
            99156             13          6_
            99157             13           6
            99158             13           6
            99159             13           6

                                                        Type_of_Loan  \
Customer_ID
CUS_0x1000  56752          Credit-Builder Loan, and Home Equity Loan
            56753          Credit-Builder Loan, and Home Equity Loan
            56754          Credit-Builder Loan, and Home Equity Loan
            56755          Credit-Builder Loan, and Home Equity Loan
            56756          Credit-Builder Loan, and Home Equity Loan
...                                                              ...
CUS_0xffd   99155  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99156  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99157  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99158  Auto Loan, Payday Loan, Payday Loan, Mortgage ...
            99159  Auto Loan, Payday Loan, Payday Loan, Mortgage ...

                   Delay_from_due_date Num_of_Delayed_Payment  \
Customer_ID
CUS_0x1000  56752                   62                     25
            56753                   62                     23
            56754                   62                     28
            56755                   64                     25
            56756                   67                     25
...                                ...                    ...
CUS_0xffd   99155                   19                     12
            99156                   23                    NaN
            99157                   23                     12
            99158                   23                     12
            99159                   23                     11

                  Changed_Credit_Limit  Num_Credit_Inquiries Credit_Mix  \
Customer_ID
CUS_0x1000  56752                 1.63                  10.0        Bad
            56753                 1.63                  11.0        Bad
            56754                 1.63                  11.0        Bad
            56755                 1.63                  11.0        Bad
            56756                 2.63                  11.0        Bad
...                                ...                   ...        ...
CUS_0xffd   99155                10.07                   7.0          _
            99156                10.07                   7.0   Standard
            99157                10.07                   7.0   Standard
            99158                10.07                   7.0   Standard
            99159                12.07                   7.0   Standard

                  Outstanding_Debt  Credit_Utilization_Ratio  \
Customer_ID
CUS_0x1000  56752          1562.91                 26.612093
            56753          1562.91                 29.439759
            56754          1562.91                 38.285928
            56755          1562.91                 32.843081
            56756          1562.91                 32.330508
...                            ...                       ...
CUS_0xffd   99155          1701.88                 36.384516
            99156          1701.88                 26.166508
            99157          1701.88                 36.970072
            99158          1701.88                 33.916363
            99159          1701.88                 39.916655

                      Credit_History_Age Payment_of_Min_Amount  \
Customer_ID
CUS_0x1000  56752  10 Years and 2 Months                   Yes
            56753  10 Years and 3 Months                   Yes
            56754  10 Years and 4 Months                   Yes
            56755  10 Years and 5 Months                   Yes
            56756  10 Years and 6 Months                   Yes
...                                  ...                   ...
CUS_0xffd   99155  18 Years and 5 Months                   Yes
            99156  18 Years and 6 Months                   Yes
            99157  18 Years and 7 Months                   Yes
            99158  18 Years and 8 Months                   Yes
            99159  18 Years and 9 Months                   Yes

                   Total_EMI_per_month Amount_invested_monthly  \
Customer_ID
CUS_0x1000  56752            42.941090      244.75028300769162
            56753            42.941090      176.13256665597928
            56754            42.941090      109.05651876486915
            56755            42.941090       87.90990881495769
            56756            42.941090       191.8347674990596
...                                ...                     ...
CUS_0xffd   99155           182.976649       234.3549398533252
            99156           182.976649       104.6294735081563
            99157           182.976649      47.007378731604064
            99158           182.976649      257.98969352901736
            99159           182.976649       42.57571978536272

                                  Payment_Behaviour     Monthly_Balance  \
Customer_ID
CUS_0x1000  56752    Low_spent_Large_value_payments   252.9247932365056
            56753   High_spent_Small_value_payments    311.542509588218
            56754  High_spent_Medium_value_payments  368.61855747932816
            56755                            !@9#%8   419.7651674292397
            56756    Low_spent_Large_value_payments   305.8403087451377
...                                             ...                 ...
CUS_0xffd   99155                            !@9#%8          247.655411
            99156  High_spent_Medium_value_payments          337.380877
            99157  High_spent_Medium_value_payments          395.002972
            99158   High_spent_Small_value_payments          194.020657
            99159   High_spent_Large_value_payments          389.434631

                  Credit_Score  Number_Month
Customer_ID
CUS_0x1000  56752     Standard             1
            56753         Poor             2
            56754         Poor             3
            56755         Poor             4
            56756         Poor             5
...                        ...           ...
CUS_0xffd   99155     Standard             4
            99156     Standard             5
            99157     Standard             6
            99158         Good             7
            99159         Good             8

[100000 rows x 29 columns]

In [1297]:
df["Occupation"].str.contains(r'[()\-_$#@!%&*]', regex=True).value_counts()

Occupation
False    93280
True      6720
Name: count, dtype: int64

In [1290]:
df.loc[df["Occupation"].str.contains(r'[()\-_$#@!%&*]', regex=True) & ~df["Occupation"].str.contains(r'[a-zA-Z]', regex=True)] # Identificar valores nulos

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Number_Month
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,4,5.42,2.0,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard,1
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",5,8,7.1,3.0,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413702679309,!@9#%8,1043.3159778669492,Good,1
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,NaN,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",8,7,11.1,NaN,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992319,__10000__,High_spent_Small_value_payments,715.741367403555,Good,3
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",10,5,7.1,3.0,Good,1303.01,31.376150,18 Years and 1 Months,No,246.992319,430.9475278803298,Low_spent_Large_value_payments,810.7821526659284,Good,5
29,0x162b,CUS_0xb891,June,Jasond,55,#F%$D@*&8,_______,30689.89,2612.490833,2,5,4,1,Not Specified,5,6,-3.01,4.0,_,632.46,27.445422,17 Years and 8 Months,No,16.415452,84.95284817115969,High_spent_Small_value_payments,419.8807835023488,Standard,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99920,0x25f7a,CUS_0x2654,January,enj,37,647-67-8889,_______,139664.96,11777.746667,3,6,12,4,"Credit-Builder Loan, Credit-Builder Loan, Stud...",14,12,18.39,8.0,_,365.66,31.043048,29 Years and 7 Months,Yes,423.731016,282.78234595777644,High_spent_Large_value_payments,711.261305,Standard,1
99935,0x25f8d,CUS_0xb11c,August,Yinka Adegokej,38,546-94-4789,_______,15319.65,1460.637500,6,7,15,4,"Home Equity Loan, Auto Loan, Auto Loan, and Au...",54,16,17.13,6.0,Bad,1453.61,34.557510,11 Years and 4 Months,Yes,28.182033,191.87777851803025,Low_spent_Small_value_payments,216.003938,Poor,8
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,98,226-45-0652,_______,22620.79,1722.065833,7,3,9,0_,NaN,25,NaN,5.31,2.0,Standard,642.46,31.841872,NaN,No,0.000000,105.07629339039072,Low_spent_Large_value_payments,337.13029,Standard,2
99943,0x25f99,CUS_0xad4f,August,Sabina Zawadzkig,48,226-45-0652,_______,22620.79,NaN,6,2,9,0,NaN,27,15,5.31,2.0,_,642.46,34.026427,29 Years and 10 Months,No,0.000000,205.21728040016708,Low_spent_Small_value_payments,256.989303,Poor,8
99989,0x25fdf,CUS_0x8600,June,Sarah McBridec,28,031-35-0942,_______,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,25,16.31,9.0,Bad,3571.7,33.359987,6 Years and 1 Months,Yes,60.964772,74.36660309585342,!@9#%8,307.659291,Standard,6

In [1291]:
def replace_with_nan(x):
    x.loc[x.str.contains(r'[()\-_$#@!%&*]', regex=True) & ~x.str.contains(r'[a-zA-Z]', regex=True)] = np.nan
    return x

# Alterar valores com _ para NaN

In [1292]:
df['Occupation'] = df.groupby('Customer_ID')['Occupation'].transform(replace_with_nan) # agrupando pelo Customer_ID e chamando a função

In [1293]:
df['Occupation'] = df.groupby('Customer_ID')['Occupation'].transform(lambda x: x.fillna(method='bfill').fillna(method='ffill')) # Preenchendo os valores nulos

C:\Users\vinic\AppData\Local\Temp\ipykernel_8264\4008793316.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Occupation'] = df.groupby('Customer_ID')['Occupation'].transform(lambda x: x.fillna(method='bfill').fillna(method='ffill'))

In [1294]:
df.loc[df["Customer_ID"] == "CUS_0xffd"] # Testando para ver se funfou

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Number_Month
99152,0x25afa,CUS_0xffd,January,Damouniq,29,832-88-8320,Scientist,41398.44,3749.87,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",25,9,10.07,1801.0,Standard,1701.88,29.506673,18 Years and 2 Months,Yes,182.976649,195.52927326749446,Low_spent_Large_value_payments,266.481077,Standard,1
99153,0x25afb,CUS_0xffd,February,Damouniq,29,832-88-8320,Scientist,41398.44,3749.87,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",23,12,10.07,NaN,_,1701.88,27.117338,18 Years and 3 Months,Yes,182.976649,132.3633479629823,Low_spent_Small_value_payments,349.647003,Standard,2
99154,0x25afc,CUS_0xffd,March,Damouniq,29,832-88-8320,Scientist,41398.44,3749.87,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",25,12,10.07,7.0,Standard,1701.88,25.175964,18 Years and 4 Months,Yes,182.976649,336.13023109571515,Low_spent_Small_value_payments,145.880119,Standard,3
99155,0x25afd,CUS_0xffd,April,Damouniq,29,832-88-8320,Scientist,41398.44,3749.87,8,7,13,-100,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",19,12,10.07,7.0,_,1701.88,36.384516,18 Years and 5 Months,Yes,182.976649,234.3549398533252,!@9#%8,247.655411,Standard,4
99156,0x25afe,CUS_0xffd,May,Damouniq,29,832-88-8320,Scientist,41398.44,3749.87,8,7,13,6_,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",23,NaN,10.07,7.0,Standard,1701.88,26.166508,18 Years and 6 Months,Yes,182.976649,104.6294735081563,High_spent_Medium_value_payments,337.380877,Standard,5
99157,0x25aff,CUS_0xffd,June,Damouniq,29,832-88-8320,Scientist,41398.44,NaN,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",23,12,10.07,7.0,Standard,1701.88,36.970072,18 Years and 7 Months,Yes,182.976649,47.007378731604064,High_spent_Medium_value_payments,395.002972,Standard,6
99158,0x25b00,CUS_0xffd,July,Damouniq,30,832-88-8320,Scientist,41398.44_,3749.87,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",23,12,10.07,7.0,Standard,1701.88,33.916363,18 Years and 8 Months,Yes,182.976649,257.98969352901736,High_spent_Small_value_payments,194.020657,Good,7
99159,0x25b01,CUS_0xffd,August,Damouniq,30,832-88-8320,Scientist,41398.44,3749.87,8,7,13,6,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",23,11,12.07,7.0,Standard,1701.88,39.916655,18 Years and 9 Months,Yes,182.976649,42.57571978536272,High_spent_Large_value_payments,389.434631,Good,8

In [1295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  int64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
 28  Number_Month              100000 non-null  int64
dtypes: float64(4), int64(6), object(19)
memory usage: 22.1+ MB