In [1]:
from sklearn.pipeline import Pipeline
import ETL
import pandas as pd

In [2]:
df = pd.read_csv('../data/d01_raw/train.csv')
pd.set_option('display.max_columns', None)

C:\Users\vinic\AppData\Local\Temp\ipykernel_14880\1828444649.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/d01_raw/train.csv')

In [3]:
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",8,4,9.27,4.0,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,8_,11.27,4.0,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,6,11.27,4.0,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,4,5.42,2.0,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,7,1,7.42,2.0,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

In [4]:
str_pipe = Pipeline(steps=[
    ("TransformToNull", ETL.TransformToNull(column_names=['Occupation', 'SSN', 'Changed_Credit_Limit', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])),
    ("CleaningMissingCreditCard", ETL.CleaningMissingCreditCard(column_name='Num_Credit_Card')),
    ("CleaningMissingTypeOfLoan", ETL.CleaningMissingTypeOfLoan(column_name='Type_of_Loan')),
    ("CleaningMissingDelayedPayment", ETL.CleaningMissingDelayedPayment(column_name='Num_of_Delayed_Payment')),
    ("CleaningMissingMonthlySalary", ETL.CleaningMissingMonthlySalary(column_name='Monthly_Inhand_Salary')),
    ("CleaningNumBankAccounts", ETL.CleaningNumBankAccounts(column_name='Num_Bank_Accounts')),
    ("CleaningMissingValues", ETL.CleaningMissingValues(column_names=['Name', 'Occupation', 'SSN', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Payment_of_Min_Amount', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'Credit_History_Age'])),
    ("CleaningNotNumbers", ETL.CleaningNotNumbers(column_names=['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance'])),
    ("CleaningMissingPayment", ETL.CleaningMissingDelayedPayment(column_name='Num_of_Delayed_Payment')),
    ("CleaningMissingMonthlyBalance", ETL.CleaningMissingMonthlyBalance(column_name='Monthly_Balance')), 
    ("ModifyMonthCreditHistory", ETL.ModifyMonthCreditHistory(column_name='Credit_History_Age')), 
    ("CreateDateCreditHistoryColumn", ETL.CreateDateCreditHistoryColumn(column_name='Credit_History_Age')),
    ("CreateMonthNumberColumn", ETL.CreateMonthNumberColumn(column_name='Month')),
    ("TransformToBinaryValues", ETL.TransformToBinaryValues(column_name='Payment_of_Min_Amount')),
    ("ConvertDtypeToNumeric", ETL.ConvertDtypeToNumeric(column_names=['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance'])),
    ("TreatingOutliersWithQuantile", ETL.TreatingOutliersWithQuantile(column_names=['Age', 'Num_Credit_Card', 'Outstanding_Debt', 'Amount_invested_monthly'])),
    ("TreatingOutliersWithMode", ETL.TreatingOutliersWithMode(column_names=['Num_Bank_Accounts', 'Num_of_Loan', 'Interest_Rate'])),
    ("TreatingOutliersNumCreditInquires", ETL.TreatingOutliersNumCreditInquires(column_name='Num_Credit_Inquiries')),
]) # PIPELINE FUNCIONANDO.

In [5]:
example = str_pipe.fit_transform(df)

c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:72: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna("Not Specified", inplace=True)
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:88: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna(0, inplace=True)
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:89: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  mode_num_delayed_payment = X_transformed.groupby("Customer_ID")[self.column_name].apply(lambda x: x.mode().iloc[0])
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:89: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  mode_num_delayed_payment = X_transformed.groupby("Customer_ID")[self.column_name].apply(lambda x: x.mode().iloc[0])
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:179: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_transformed[column_name] = X_transformed.groupby('Customer_ID')[column_name].transform(lambda x: x.bfill().ffill())
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:88: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna(0, inplace=True)

In [6]:
example.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Date,Number_Month
0,0x1628a,CUS_0x1000,January,Alistair Barrf,17,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",62,25.0,163,11.0,Bad,156291,26.612093,10 Years and 1 Months,1,42.941090,24475028300769162,Low_spent_Large_value_payments,2.529248e+15,Standard,2014-05,1
1,0x1628b,CUS_0x1000,February,Alistair Barrf,17,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",62,23.0,163,11.0,Bad,156291,29.439759,10 Years and 2 Months,1,42.941090,17613256665597928,High_spent_Small_value_payments,3.115425e+14,Poor,2014-04,2
2,0x1628c,CUS_0x1000,March,Alistair Barrf,17,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",62,28.0,163,11.0,Bad,156291,38.285928,10 Years and 3 Months,1,42.941090,10905651876486915,High_spent_Medium_value_payments,3.686186e+16,Poor,2014-03,3
3,0x1628d,CUS_0x1000,April,Alistair Barrf,17,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",64,25.0,163,11.0,Bad,156291,32.843081,10 Years and 4 Months,1,42.941090,8790990881495769,Low_spent_Large_value_payments,4.197652e+15,Poor,2014-02,4
4,0x1628e,CUS_0x1000,May,Alistair Barrf,17,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",67,25.0,263,11.0,Bad,156291,32.330508,10 Years and 5 Months,1,42.941090,1918347674990596,Low_spent_Large_value_payments,3.058403e+15,Poor,2014-01,5
5,0x1628f,CUS_0x1000,June,Alistair Barrf,18,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",62,23.0,163,11.0,Bad,156291,40.082272,10 Years and 6 Months,1,42.941090,11480240059146288,High_spent_Small_value_payments,3.728727e+16,Poor,2013-12,6
6,0x16290,CUS_0x1000,July,Alistair Barrf,18,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",62,25.0,263,11.0,Bad,156291,38.149539,10 Years and 7 Months,1,42.941090,26659716045509043,Low_spent_Small_value_payments,2.510779e+15,Poor,2013-11,7
7,0x16291,CUS_0x1000,August,Alistair Barrf,18,913-74-1218,Lawyer,3062594,2706.161667,6,5,27,2,"Credit-Builder Loan, and Home Equity Loan",57,26.0,163,11.0,Bad,156291,30.077191,10 Years and 8 Months,1,42.941090,7731427572208112,High_spent_Medium_value_payments,4.003608e+16,Poor,2013-10,8
8,0x66a2,CUS_0x1009,January,Arunah,25,063-67-6938,Mechanic,5231268,4250.390000,6,5,17,4,"Not Specified, Home Equity Loan, Credit-Builde...",8,1749.0,973,4.0,Standard,20268,23.679534,30 Years and 1 Months,1,108.366467,2612109793689318,Low_spent_Medium_value_payments,3.354616e+15,Standard,1994-06,1
9,0x66a3,CUS_0x1009,February,Arunah,25,063-67-6938,Mechanic,5231268,4250.390000,6,5,17,4,"Not Specified, Home Equity Loan, Credit-Builde...",8,16.0,973,4.0,Standard,20268,28.451199,30 Years and 2 Months,1,108.366467,1424647303239083,High_spent_Medium_value_payments,4.242078e+16,Standard,1994-05,2