In [1]:
from sklearn.pipeline import Pipeline
import ETL
import pandas as pd

In [2]:
df = pd.read_csv('../data/d01_raw/train.csv')
pd.set_option('display.max_columns', None)

C:\Users\vinic\AppData\Local\Temp\ipykernel_14668\1828444649.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/d01_raw/train.csv')

In [3]:
df.loc[df['Type_of_Loan'].isna()]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
32,0x1632,CUS_0x1cdb,January,Deepaa,21,615-06-7821,Developer,35547.71_,2853.309167,7,5,5,0,NaN,5,NaN,2.58,4.0,Standard,943.86,39.797764,30 Years and 8 Months,Yes,0.0,276.72539431736266,!@9#%8,288.60552234930395,Standard
33,0x1633,CUS_0x1cdb,February,Deepaa,21,615-06-7821,Developer,35547.71,NaN,7,5,5,0,NaN,9,NaN,2.58,4.0,Standard,943.86,27.020360,30 Years and 9 Months,NM,0.0,74.44364104999623,High_spent_Medium_value_payments,460.88727561667037,Standard
34,0x1634,CUS_0x1cdb,March,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,5,5,-100,NaN,5,12,2.58,4.0,Standard,943.86,23.462303,30 Years and 10 Months,Yes,0.0,173.13865100158367,Low_spent_Medium_value_payments,392.1922656650829,Standard
35,0x1635,CUS_0x1cdb,April,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,5,5,0,NaN,1,15,2.58,4.0,_,943.86,28.924954,30 Years and 11 Months,Yes,0.0,96.78548508587444,High_spent_Medium_value_payments,438.5454315807922,Standard
36,0x1636,CUS_0x1cdb,May,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,5,5,0,NaN,9,17,2.58,4.0,_,943.86,41.776187,31 Years and 0 Months,Yes,0.0,62.72327834435009,High_spent_Small_value_payments,482.6076383223166,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99939,0x25f95,CUS_0xad4f,April,Sabina Zawadzkig,47,226-45-0652,Developer,22620.79,1722.065833,7,3,9,0,NaN,27,19_,5.31,2.0,_,642.46,26.730863,29 Years and 6 Months,NM,0.0,205.75607405146,Low_spent_Small_value_payments,256.450509,Poor
99940,0x25f96,CUS_0xad4f,May,Sabina Zawadzkig,47,226-45-0652,Developer,22620.79,1722.065833,7,3,9,0_,NaN,30,18,4.31,2.0,Standard,642.46,37.450793,29 Years and 7 Months,No,0.0,141.895743423042,Low_spent_Large_value_payments,300.31084,Standard
99941,0x25f97,CUS_0xad4f,June,Sabina Zawadzkig,47,226-45-0652,Developer,22620.79,1722.065833,7,3,9,0,NaN,27,18,5.31,2.0,Standard,642.46,27.699504,NaN,No,0.0,207.47345558788197,Low_spent_Small_value_payments,254.733128,Poor
99942,0x25f98,CUS_0xad4f,July,Sabina Zawadzkig,48_,#F%$D@*&8,Developer,22620.79,1722.065833,6,2,9,0,NaN,27,17,1.3099999999999996,2.0,Standard,642.46,24.714779,29 Years and 9 Months,No,0.0,16.53218878920387,High_spent_Large_value_payments,395.674395,Poor
99943,0x25f99,CUS_0xad4f,August,Sabina Zawadzkig,48,226-45-0652,_______,22620.79,NaN,6,2,9,0,NaN,27,15,5.31,2.0,_,642.46,34.026427,29 Years and 10 Months,No,0.0,205.21728040016708,Low_spent_Small_value_payments,256.989303,Poor

In [4]:
str_pipe = Pipeline(steps=[
    ("TransformToNull", ETL.TransformToNull(column_names=['Occupation', 'SSN', 'Changed_Credit_Limit', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])),
    ("CleaningMissingCreditCard", ETL.CleaningMissingCreditCard(column_name='Num_Credit_Card')),
    ("CleaningMissingTypeOfLoan", ETL.CleaningMissingTypeOfLoan(column_name='Type_of_Loan')),
    ("CleaningMissingDelayedPayment", ETL.CleaningMissingDelayedPayment(column_name='Num_of_Delayed_Payment')),
    ("CleaningMissingMonthlySalary", ETL.CleaningMissingMonthlySalary(column_name='Monthly_Inhand_Salary')),
    ("CleaningNumBankAccounts", ETL.CleaningNumBankAccounts(column_name='Num_Bank_Accounts')),
    ("CleaningMissingValues", ETL.CleaningMissingValues(column_names=['Name', 'Occupation', 'SSN', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Payment_of_Min_Amount', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'Credit_History_Age'])),
    ("CleaningNotNumbers", ETL.CleaningNotNumbers(column_names=['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance'])),
    ("CleaningMissingPayment", ETL.CleaningMissingDelayedPayment(column_name='Num_of_Delayed_Payment')),
    ("CleaningMissingMonthlyBalance", ETL.CleaningMissingMonthlyBalance(column_name='Monthly_Balance')),
    ("ModifyMonthCreditHistory", ETL.ModifyMonthCreditHistory(column_name='Credit_History_Age')), 
    ("CreateDateCreditHistoryColumn", ETL.CreateDateCreditHistoryColumn(column_name='Credit_History_Age')),
    ("CreateMonthNumberColumn", ETL.CreateMonthNumberColumn(column_name='Month')),
    ("TransformToBinaryValues", ETL.TransformToBinaryValues(column_name='Payment_of_Min_Amount')),
    ("ConvertDtypeToNumeric", ETL.ConvertDtypeToNumeric(column_names=['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']))
]) # PIPELINE FUNCIONANDO ATÉ AQUI.

In [5]:
example = str_pipe.fit_transform(df)

c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:71: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna("Not Specified", inplace=True)
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:87: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna(0, inplace=True)
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:88: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  mode_num_delayed_payment = X_transformed.groupby("Customer_ID")[self.column_name].apply(lambda x: x.mode().iloc[0])
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:88: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  mode_num_delayed_payment = X_transformed.groupby("Customer_ID")[self.column_name].apply(lambda x: x.mode().iloc[0])
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:161: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_transformed[column_name] = X_transformed.groupby('Customer_ID')[column_name].transform(lambda x: x.bfill().ffill())
c:\Users\vinic\OneDrive\Área de Trabalho\DataEng\CreditScore\CreditScoreDataset\notebooks\ETL.py:87: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_transformed[self.column_name].fillna(0, inplace=True)

In [6]:
example['Monthly_Balance'].info()
# COLUNA MONTHLY_BALANCE POSSUI VALORES NULOS...

<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Monthly_Balance
Non-Null Count  Dtype
--------------  -----
98304 non-null  float64
dtypes: float64(1)
memory usage: 781.4 KB